name: manage-azure-policy-51da2574
on:
  workflow_dispatch:
    inputs:
      remarks:
        description: 'Reason for triggering the workflow run'
        required: false
        default: 'Updating Azure Policies'


## Uncomment the following if you wish to automatically trigger workflow run with every commit
#
#  push:
#    paths:
#      - 'foo/policies/Allowed_resource_types_a08ec900-254a-4555-9bf5-e42af04b5c5c/**'
#      - .github/workflows/manage-azure-policy-51da2574.yml
jobs:
  apply-azure-policy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS_51da2574}}
        allow-no-subscriptions: true
    - name: Create or Update Azure Policies
      uses: azure/manage-azure-policy@v0
      with:
        paths: |
          foo/policies/Allowed_resource_types_a08ec900-254a-4555-9bf5-e42af04b5c5c/**
